.club-banner-1{
  background:rgb(194, 194, 194);
}
.club-banner-2 {
  background:rgb(194, 194, 194);
}
.club-banner-3 {
  background:rgb(194, 194, 194);
}
.club-banner-4 {
  background:rgb(194, 194, 194);
}
.club-banner-5 {
  background:rgb(194, 194, 194);
}
.club-banner-6 {
  background:rgb(194, 194, 194);
}
.club-banner-7 {
  background:rgb(194, 194, 194);
}
.club-banner-8 {
  background:rgb(194, 194, 194);
}
#clubs-container .card {
  animation: fadeIn 0.3s ease-in;
  
}
.overflow-hidden {
  overflow: hidden;
}
